/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
.env
storage/logs/laravel.log
/public/api/
/public/api-markdowns/
/public/uploads/
/laradock*/

## track default containers only
!app/Containers
app/Containers/*
!app/Containers/Authentication
!app/Containers/Authorization
!app/Containers/Country
!app/Containers/Debugger
!app/Containers/Documentation
!app/Containers/Localization
!app/Containers/Settings
!app/Containers/Socialauth
!app/Containers/Stripe
!app/Containers/User
!app/Containers/Welcome

## ignore public assets
public/*/*
public/mix-manifest.json
